.idea/
*.iml
.svn/
.project/
.classpath/
.settings/
build.properties

src/main/resources/KernelHaven/

target/
bin/
__pycache__

*/latex/*.aux
*/latex/*.bbl
*/latex/*.blg
*/latex/*.log
*/latex/*.out
*/latex/*.synctex.gz
/out/
/src/main/resources/META-INF/
/results/
/log.txt
/warn.txt
.classpath
.project
/logs/
